:root {
  --steam-olive-main: #4c5844;
  --steam-olive-scroll-button: #3d4436;
  --steam-olive-inset: #343a2a;
  --steam-list-bg: #1a1e16;

  --steam-light: #777976;
  --steam-dark: #20241b;

  --steam-text-main: #c8c8c8;
  --steam-text-yellow: #d8d69f;
  --steam-text-green: #95a92f;
  --steam-text-click-yellow: #af9449;

  --sys-font: "Lucida Console", "Tahoma", "Verdana", sans-serif;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  font-family: var(--sys-font);
  font-size: 11px;
  color: var(--steam-text-main);
  user-select: none;
}

/* SOURCE WINDOW */
.steam-window {
  width: 100vw;
  height: 100vh;
  background-color: var(--steam-olive-main);
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--steam-light);
  border-left: 1px solid var(--steam-light);
  border-right: 1px solid var(--steam-dark);
  border-bottom: 1px solid var(--steam-dark);
  box-sizing: border-box;
}

/* HEADER STUFF */
.top-header-bar {
  height: 40px;
  background-color: var(--steam-olive-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  flex-shrink: 0;
}

.header-left-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.window-title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #e1e1e1;
}

.menu-items-container {
  display: flex;
  gap: 12px;
  color: #cfcfcf;
  font-size: 11px;
  margin-top: 4px;
}

.menu-item {
  cursor: pointer;
  user-select: none;
}

.menu-item:hover {
  color: #fff;
  text-decoration: underline;
}

.profile-placeholder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--steam-text-yellow);
  font-size: 10px;
}

.account-name {
  font-weight: bold;
  margin-bottom: 2px;
}

.status-indicator {
  color: var(--steam-text-green);
}

.window-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
  min-height: 0;
  overflow: hidden;
}

/* TAB SUBWINDOW*/
.tab-subwindow-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(#3e4637);
  min-height: 0;
  border-top: 1px solid var(--steam-light);
  border-left: 1px solid var(--steam-light);
  border-right: 2px solid var(--steam-dark);
  border-bottom: 2px solid var(--steam-dark);
  padding: 8px;
}

.tabs-row {
  display: flex;
  gap: 4px;
  margin-bottom: 5px;
  flex-shrink: 0;
  z-index: 10;
  transform: translateY(1px);
}

.tab-button {
  background: var(--steam-olive-main);
  padding: 5px 16px;
  min-width: 20px;
  color: var(--steam-text-main);
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 0px;
  border-top: 1px solid var(--steam-light);
  border-left: 1px solid var(--steam-light);
  border-right: 1px solid var(--steam-dark);
  border-bottom: 1px solid var(--steam-dark);
}

.tab-button:hover {
  background: #56604a;
  color: #fff;
}

.tab-button.active {
  border-top: 1px solid var(--steam-dark);
  border-left: 1px solid var(--steam-dark);
  border-right: 1px solid var(--steam-light);
  border-bottom: 1px solid var(--steam-light);
  color: var(--steam-text-click-yellow);
}

/* CONTENT SUBWINDOW */
.content-subwindow {
  flex: 1;
  background-color: #3e4637;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-top: 1px solid var(--steam-dark);
  border-left: 1px solid var(--steam-dark);
  border-right: 1px solid var(--steam-light);
  border-bottom: 1px solid var(--steam-light);
}

.library-header {
  display: flex;
  padding: 6px 8px;
  background-color: var(--steam-olive-main);
  color: var(--steam-text-yellow);
  font-size: 10px;
  font-weight: bold;
  border-bottom: 1px solid var(--steam-dark);
  flex-shrink: 0;
}

.game-list {
  background-color: #3e4637;
  flex: 1;
  overflow-y: auto;
  padding: 4px;
}

/* SCROLLBAR */
.game-list::-webkit-scrollbar, .chart-container::-webkit-scrollbar {
  width: 16px;
  background: #5a6a50;
}

.game-list::-webkit-scrollbar-thumb, .chart-container::-webkit-scrollbar-thumb {
  background-color: var(--steam-olive-main);
  border: 1px solid var(--steam-dark);
  border-radius: 2px;
  
  border-top: 1px solid var(--steam-light);
  border-left: 1px solid var(--steam-light);
  border-right: 1px solid var(--steam-dark);
  border-bottom: 1px solid var(--steam-dark);
}

.console-log::-webkit-scrollbar {  
  width: 16px;
  background: #646464;
  border-right: 1px solid var(--steam-light);
  border-top: 1px solid var(--steam-light);
  border-bottom: 1px solid var(--steam-light);

}

.console-log::-webkit-scrollbar-thumb {
  background-color: #929292;
  border: 1px solid var(--steam-dark);
  border-radius: 2px;
  
  border-top: 1px solid var(--steam-light);
  border-left: 1px solid var(--steam-light);
  border-right: 1px solid var(--steam-dark);
  border-bottom: 1px solid var(--steam-dark);
}

/* GAMES LISTINGS */
.game-row {
  display: flex;
  align-items: center;
  padding: 3px;
  color: var(--steam-text-main);
  gap: 8px;
  cursor: default;
  height: 20px;
  
  border-bottom: 1px solid #2b2b2b; 
}

.game-row:hover {
  background-color: #4b5440;
  color: #fff;
  border: 1px dotted #777;
  padding: 1px 3px;
}

.game-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-color: #000;
  border: 1px solid #555;
}

.game-name {
  width: 200px;
  flex-shrink: 0;
  font-weight: normal;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-desc-col {
  flex-grow: 1;
  color: #888;
  font-style: italic;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 8px;
}

.game-price-col {
  width: 8px;
  text-align: right;
  color: var(--steam-text-green);
  font-size: 10px;
  flex-shrink: 0;
}

.game-owner-col {
  width: 180px;
  font-size: 10px;
  color: var(--steam-text-green);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  flex-shrink: 0;
  margin-left: 8px;
}

.placeholder-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #5c684a;
  font-style: italic;
}

/* USER GRID AND CARDS */
.user-grid-container {
  padding: 16px;
  overflow-y: auto;
  height: 100%;
}

.user-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
}

/* USER CARD STUFF */
.user-card-base {
  width: 250px;
  background-color: var(--steam-olive-main);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  border-top: 1px solid var(--steam-light);
  border-left: 1px solid var(--steam-light);
  border-right: 1px solid var(--steam-dark);
  border-bottom: 1px solid var(--steam-dark);
}

.profile-mini-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--steam-olive-inset);
  padding-bottom: 4px;
  margin-bottom: 6px;
}

.profile-mini-name {
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.remove-x {
  cursor: pointer;
  color: #888;
  font-weight: bold;
}

.remove-x:hover {
  color: #ff4444;
}

.profile-mini-body {
  display: flex;
  gap: 10px;
  margin-bottom: 4px;
}

.profile-mini-avatar {
  width: 64px;
  height: 64px;
  border: 1px solid var(--steam-light);
  flex-shrink: 0;
}

.profile-mini-stats {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 10px;
  justify-content: flex-start;
  flex-grow: 1;
}

.mini-stat-row {
  display: flex;
  justify-content: space-between;
}

.mini-stat-label {
  color: #aaa;
}

.mini-stat-val {
  font-weight: bold;
  color: #ccc;
}

.mini-profile-link {
  color: var(--steam-text-green);
  text-decoration: none;
  font-size: 9px;
  margin-top: 2px;
}

.mini-profile-link:hover {
  text-decoration: underline;
  color: #fff;
}

/* USER CARD BUTTONS*/
.add-user-header {
  font-weight: bold;
  color: var(--steam-text-yellow);
  font-size: 11px;
}

.add-user-input {
  background-color: var(--steam-list-bg);
  border: 1px solid var(--steam-light);
  color: #fff;
  padding: 4px;
  font-size: 11px;
  outline: none;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: auto;
}

.add-user-btn {
  background-color: #4b5440;
  color: #fff;
  font-size: 10px;
  padding: 4px;
  cursor: pointer;
  border-radius: 0;
  outline: none;
  margin-top: 3px;
  border-top: 1px solid var(--steam-light);
  border-left: 1px solid var(--steam-light);
  border-right: 1px solid var(--steam-dark);
  border-bottom: 1px solid var(--steam-dark);
  width: 100%;
}

.add-user-btn:hover {
  background-color: #56604a;
}

.add-user-btn:disabled {
  color: #777;
  background-color: #333;
  cursor: not-allowed;
}

.error-text {
  color: #ff4444;
  font-size: 10px;
  margin-top: 2px;
}

/* STEAM CONSOLE CSS */
.console-border {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #646464;
  padding: 6px;
  box-sizing: border-box;

  min-height: 0;
  overflow: hidden;
}

.console-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  color: #d1d1d1;
  font-family: var(--sys-font);
  font-size: 11px;
  overflow: hidden;

  min-height: 0;
  overflow: hidden;
  border-top: 2px var(--steam-dark);
  border-left: 2px var(--steam-dark);
  border-bottom: 2px var(--steam-light);
  border-right: 2px var(--steam-light);
}

.console-log {
  flex: 1;
  min-height: 0;
  overflow-y: auto; 
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.console-line {
  white-space: pre-wrap;
  word-break: break-all;
}

.console-input-area {
  display: flex;
  gap: 4px;
  padding: 4px;
  background-color: #646464;
  border-top: 1px solid #555;
  align-items: center;
  flex-shrink: 0;
}

.console-input {
  flex-grow: 1;
  background-color: #111;
  border: 1px solid #555;
  color: #fff;
  font-family: var(--console-font);
  font-size: 11px;
  padding: 3px;
  outline: none;
}

.console-input:focus {
  border: 1px solid #777;
}

.console-btn {
  background-color: #646464;
  color: #fff;
  font-size: 10px;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 0;
  outline: none;
  border-top: 2px solid var(--steam-light);
  border-left: 2px solid var(--steam-light);
  border-right: 2px solid var(--steam-dark);
  border-bottom: 2px solid var(--steam-dark);
  font-family: var(--sys-font);
}

/* GRAPH TAB CSS */
.graph-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}

.graph-wrapper {
  flex-grow: 1;
  width: 100%;
  min-height: 0;
  background-color: #3e4637;
  position: relative;
  border-bottom: 1px solid var(--steam-light);
}

.graph-footer {
  width: 100%;
  color: #5c684a;
  font-size: 10px;
  padding: 6px 0;
  flex-shrink: 0;
  text-align: center;
  background-color: var(--steam-olive-main);
  border-top: 1px solid var(--steam-dark);
}

.graph-absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* CHART CSS */
.chart-container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background: #3e4637;
  box-sizing: border-box;
  overflow-y: auto;
}

.chart-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 10px;
  padding-top: 5px;
  height: 14px;
}

.chart-label {
  width: 120px;
  text-align: right;
  padding-right: 12px;
  color: #c8c8c8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.chart-bar-track {
  flex-grow: 1;
  background-color: #2b2b2b;
  height: 100%;
  position: relative;
  margin-right: 8px;

  border-top: 1px solid var(--steam-light);
  border-left: 1px solid var(--steam-light);
  border-right: 1px solid var(--steam-dark);
  border-bottom: 1px solid var(--steam-dark);
}

.chart-bar-fill {
  height: 100%;
  background-color: #95a92f;
  transition: width 0.5s ease-out;
}

.chart-value {
  width: 30px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000;
}

.graph-header-controls {
  display: flex;
  gap: 8px;
}

.graph-toggle-btn {
  background-color: #4b5440;
  color: #fff;
  font-family: inherit;
  font-size: 10px;
  padding: 2px 12px;
  cursor: pointer;
  border-radius: 0;
  outline: none;
  
  border-top: 1px solid var(--steam-light);
  border-left: 1px solid var(--steam-light);
  border-right: 1px solid var(--steam-dark);
  border-bottom: 1px solid var(--steam-dark);
}

.graph-toggle-btn:hover {
  background-color: #56604a;
}

.graph-toggle-btn.active {
  background-color: #3d4436;
  color: var(--steam-text-yellow);
  border-top: 1px solid var(--steam-dark);
  border-left: 1px solid var(--steam-dark);
  border-right: 1px solid var(--steam-light);
  border-bottom: 1px solid var(--steam-light);
}

.graph-toggle-btn path:focus {
  outline: none;
}

.graph-tooltip {
  background: #4c5844;
  border: 1px solid #777976;
  padding: 4px 8px;
  color: #d8d69f;
  font-size: 10px;
}

.recharts-surface path:focus {
  outline: none;
}

.graph-toggle-btn:focus, .graph-toggle-button.active:focus, .graph-toggle-button:hover {
  outline: none;
}

.recharts-wrapper:focus {
  outline: none !important;
}
